<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/zTreeStyle.css" type="text/css">
<!--<link rel="stylesheet" href="/static/css/demo.css" type="text/css">-->
<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.ztree.core.js"></script>
<title>无标题文档</title>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
}
</style>

<script type="text/javascript">
  function MM_swapImgRestore() { //v3.0
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
  }

  function MM_preloadImages() { //v3.0
    var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
      var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
      if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
  }

  function MM_findObj(n, d) { //v4.01
    var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
      d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
    if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) x=d.getElementById(n); return x;
  }

  function MM_swapImage() { //v3.0
    var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
     if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
  }

</script>
</head>

<body onload="MM_preloadImages('/static/images/1-2_03.gif','/static/images/1-2_04.gif','/static/images/1-2_05.gif','/static/images/1-2_06.gif','/static/images/1-2_07.gif')">
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="1000" align="center" valign="top"><table width="1000" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top"><img src="/static/images/1-1_01.gif" width="1000" height="25" /></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="256"><img src="/static/images/1-1_02.gif" width="256" height="36" /></td>
            <td width="136"><a href="/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','/static/images/1-2_03.gif',1)"><img src="/static/images/1-1_03.gif" name="Image3" width="136" height="36" border="0" id="Image3" /></a></td>
            <td width="154"><a href="/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','/static/images/1-2_04.gif',1)"><img src="/static/images/1-1_04.gif" name="Image4" width="154" height="36" border="0" id="Image4" /></a></td>
            <td width="154"><a href="/videoes" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','/static/images/1-2_05.gif',1)"><img src="/static/images/1-1_05.gif" name="Image5" width="154" height="36" border="0" id="Image5" /></a></td>
            <td width="153"><a href="/images" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','/static/images/1-2_06.gif',1)"><img src="/static/images/1-1_06.gif" name="Image6" width="153" height="36" border="0" id="Image6" /></a></td>
            <td width="147"><a href="/example" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','/static/images/1-2_07.gif',1)"><img src="/static/images/1-1_07.gif" name="Image7" width="147" height="36" border="0" id="Image7" /></a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="/static/images/1-1_08.gif" width="1000" height="62" /></td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="/static/images/1-1_09.gif" width="1000" height="351" /></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="255" align="left" valign="top"><table width="255" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="19" align="left" valign="top"><img src="/static/images/1-1_10.gif" width="20" height="312" /></td>
                <td align="left" valign="top"><table width="235" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" valign="top"><img src="/static/images/1-1_11.gif" alt="" width="235" height="44" /></td>
                    </tr>
                    <tr>
                      <td align="left" valign="top"><table width="235" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="268" align="left" valign="top" background="/static/images/1-1_14.gif">

                              	<div class="zTreeDemoBackground left">
                                    <ul id="treeDemo" class="ztree"></ul>
                                </div>

                            </td>
                          </tr>
                      </table></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td height="19" align="left" valign="top"><img src="/static/images/1-1_15.gif" width="20" height="78" /></td>
                <td align="left" valign="top"><img src="/static/images/1-1_16.gif" width="235" height="78" /></td>
              </tr>
            </table></td>
            {% block content %}
            {% endblock %}
            </tr>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="/static/images/1-2_17.jpg" width="1000" height="136" /></td>
      </tr>

    </table></td>
  </tr>
</table>


</body>

<script type="text/javascript">
		var setting = {
			view: {
				showIcon: 0
			},
			data: {
				simpleData: {
					enable: true
				}
			}
		};

		var zNodes =[
           {% for catalog in catalogs %}
            { id: {{ catalog.id}}, pId:0, name: '{{ catalog.name }}', open:true},
            {% for article in catalog.article_set.all %}
              {id: {{ catalog.id }}{{ article.id }}, pId:{{ catalog.id }}, name: '{{ article.name }}',url:"{% url 'page:detail' article.id %}" },
            {% endfor %}
           {% endfor %}
		];


		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		});




</script>
</html>
