{% extends "base.html" %}


{% block content %}
<td width="19" align="left" valign="top"><table width="20" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table></td>
<td width="726"  align="left" valign="top"><table  border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="top" bgcolor="#FFF4E2" style="padding:10px 41px;line-heigh:15px;">
<div id="container" class="clearfix">
      <div id="content" class="defaults" >
          <!-- item container -->
          <ul id="itemContainer" >
            <li><a rel="group" href="/static/images/article-page/1.png"><img width="126" height="126" src="/static/images/article-page/1.png" ></a></li>
            <li><a rel="group" href="/static/images/article-page/2.png"><img width="126" height="126" src="/static/images/article-page/2.png" ></a></li>
            <li><a rel="group" href="/static/images/article-page/3.png"><img width="126" height="126" src="/static/images/article-page/3.png" ></a></li>
            <li><a rel="group" href="/static/images/article-page/4.png"><img width="126" height="126" src="/static/images/article-page/4.png" ></a></li>
            <li><a rel="group" href="/static/images/article-page/5.jpg"><img width="126" height="126" src="/static/images/article-page/5.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/6.jpg"><img width="126" height="126" src="/static/images/article-page/6.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/7.jpg"><img width="126" height="126" src="/static/images/article-page/7.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/8.jpg"><img width="126" height="126" src="/static/images/article-page/8.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/9.jpg"><img width="126" height="126" src="/static/images/article-page/9.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/10.jpg"><img width="126" height="126" src="/static/images/article-page/10.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/11.jpg"><img width="126" height="126" src="/static/images/article-page/11.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/12.jpg"><img width="126" height="126" src="/static/images/article-page/12.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/13.jpg"><img width="126" height="126" src="/static/images/article-page/13.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/14.jpg"><img width="126" height="126" src="/static/images/article-page/14.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/15.jpg"><img width="126" height="126" src="/static/images/article-page/15.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/16.png"><img width="126" height="126" src="/static/images/article-page/16.png" ></a></li>
            <li><a rel="group" href="/static/images/article-page/17.jpg"><img width="126" height="126" src="/static/images/article-page/17.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/18.png"><img width="126" height="126" src="/static/images/article-page/18.png" ></a></li>
            <li><a rel="group" href="/static/images/article-page/19.jpg"><img width="126" height="126" src="/static/images/article-page/19.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article-page/20.jpg"><img width="126" height="126" src="/static/images/article-page/20.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/21.jpg"><img width="126" height="126" src="/static/images/article-page/21.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/22.jpg"><img width="126" height="126" src="/static/images/article-page/22.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/23.png"><img width="126" height="126" src="/static/images/article-page/23.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/24.gif"><img width="126" height="126" src="/static/images/article-page/24.gif" ></a></li>
			<li><a rel="group" href="/static/images/article-page/25.jpg"><img width="126" height="126" src="/static/images/article-page/25.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/26.jpg"><img width="126" height="126" src="/static/images/article-page/26.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/27.png"><img width="126" height="126" src="/static/images/article-page/27.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/28.png"><img width="126" height="126" src="/static/images/article-page/28.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/29.png"><img width="126" height="126" src="/static/images/article-page/29.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/30.png"><img width="126" height="126" src="/static/images/article-page/30.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/31.png"><img width="126" height="126" src="/static/images/article-page/31.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/32.jpg"><img width="126" height="126" src="/static/images/article-page/32.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/33.jpg"><img width="126" height="126" src="/static/images/article-page/33.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/34.jpg"><img width="126" height="126" src="/static/images/article-page/34.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/35.png"><img width="126" height="126" src="/static/images/article-page/35.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/36.jpg"><img width="126" height="126" src="/static/images/article-page/36.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/37.jpg"><img width="126" height="126" src="/static/images/article-page/37.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/38.jpg"><img width="126" height="126" src="/static/images/article-page/38.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/39.png"><img width="126" height="126" src="/static/images/article-page/39.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/40.png"><img width="126" height="126" src="/static/images/article-page/40.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/41.jpg"><img width="126" height="126" src="/static/images/article-page/41.jpg" ></a></li>
			<li><a rel="group" href="/static/images/article-page/42.png"><img width="126" height="126" src="/static/images/article-page/42.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/43.png"><img width="126" height="126" src="/static/images/article-page/43.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/44.png"><img width="126" height="126" src="/static/images/article-page/44.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/45.png"><img width="126" height="126" src="/static/images/article-page/45.png" ></a></li>
			<li><a rel="group" href="/static/images/article-page/46.png"><img width="126" height="126" src="/static/images/article-page/46.png" ></a></li>
			</ul>
          <!-- navigation holder -->
          <div class="holder" align="center">
          </div>
      </div>
    </div>
      </td>
    </tr>
  </table>
</td>
{% endblock %}