{% extends "base.html" %}


{% block content %}
<td width="19" align="left" valign="top"><table width="20" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table></td>
<td width="726"  align="left" valign="top"><table  border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="top" bgcolor="#FFF4E2" style="padding:10px 41px;line-heigh:15px;">
<div id="container" class="clearfix">
      <div id="content" class="defaults" >
          <!-- item container -->
          <ul id="itemContainer" >
            <li><a rel="group" href="/static/images/article/发育性椎管狭窄.png"><img width="126" height="126" src="/static/images/article/发育性椎管狭窄.png" ></a></li>
            <li><a rel="group" href="/static/images/2.jpg"><img width="126" height="126" src="/static/images/2.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/颈椎退变1.png"><img width="126" height="126" src="/static/images/article/颈椎退变1.png" ></a></li>
            <li><a rel="group" href="/static/images/article/椎间盘突出.jpg"><img width="126" height="126" src="/static/images/article/椎间盘突出.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/CT1.png"><img width="126" height="126" src="/static/images/article/CT1.png" ></a></li>
            <li><a rel="group" href="/static/images/article/MRI1.png"><img width="126" height="126" src="/static/images/article/MRI1.png" ></a></li>
            <li><a rel="group" href="/static/images/article/X1.jpg"><img width="126" height="126" src="/static/images/article/X1.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/vas1.png"><img width="126" height="126" src="/static/images/article/vas1.png" ></a></li>
            <li><a rel="group" href="/static/images/article/数字评分.png"><img width="126" height="126" src="/static/images/article/数字评分.png" ></a></li>
            <li><a rel="group" href="/static/images/article/仰卧.jpg"><img width="126" height="126" src="/static/images/article/仰卧.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/枕头过高.jpg"><img width="126" height="126" src="/static/images/article/枕头过高.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/坏习惯.jpg"><img width="126" height="126" src="/static/images/article/坏习惯.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/颈椎病分型2.jpg"><img width="126" height="126" src="/static/images/article/颈椎病分型2.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/颈椎病治疗原则.jpg"><img width="126" height="126" src="/static/images/article/颈椎病治疗原则.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/关节活动度测量仪.jpg"><img width="126" height="126" src="/static/images/article/关节活动度测量仪.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/颈椎 活动度.jpg"><img width="126" height="126" src="/static/images/article/颈椎 活动度.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/肌力1.jpg"><img width="126" height="126" src="/static/images/article/肌力1.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/肌力2.jpg"><img width="126" height="126" src="/static/images/article/肌力2.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/肌力3.jpg"><img width="126" height="126" src="/static/images/article/肌力3.jpg" ></a></li>
            <li><a rel="group" href="/static/images/article/原则1.jpg "><img width="126" height="126" src="/static/images/article/原则1.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/颈椎病治疗原则.jpg"><img width="126" height="126" src="/static/images/article/颈椎病治疗原则.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/颈托.png"><img width="126" height="126" src="/static/images/article/颈托.png" ></a></li>
	    <li><a rel="group" href="/static/images/article/牵引1.png"><img width="126" height="126" src="/static/images/article/牵引1.png" ></a></li>
	    <li><a rel="group" href="/static/images/article/牵引2.png"><img width="126" height="126" src="/static/images/article/牵引2.png" ></a></li>
	    <li><a rel="group" href="/static/images/article/牵引3.png"><img width="126" height="126" src="/static/images/article/牵引3.png" ></a></li>
	    <li><a rel="group" href="/static/images/article/颈托2.jpg"><img width="126" height="126" src="/static/images/article/颈托2.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/颈围.png"><img width="126" height="126" src="/static/images/article/颈围.png" ></a></li>
	    <li><a rel="group" href="/static/images/article/针灸1.png"><img width="126" height="126" src="/static/images/article/针灸1.png" ></a></li>
	    <li><a rel="group" href="/static/images/article/针灸2.png"><img width="126" height="126" src="/static/images/article/针灸2.png" ></a></li>
	    <li><a rel="group" href="/static/images/article/针灸3.jpg"><img width="126" height="126" src="/static/images/article/针灸3.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/针灸4.jpg"><img width="126" height="126" src="/static/images/article/针灸4.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/手法1.jpg"><img width="126" height="126" src="/static/images/article/手法1.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/手法2.jpg"><img width="126" height="126" src="/static/images/article/手法2.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/颈后路手术.jpg"><img width="126" height="126" src="/static/images/article/颈后路手术.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/颈前路手术.jpg"><img width="126" height="126" src="/static/images/article/颈前路手术.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/不稳定.jpg"><img width="126" height="126" src="/static/images/article/不稳定.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/锥体不稳定测量.jpg"><img width="126" height="126" src="/static/images/article/锥体不稳定测量.jpg" ></a></li>
	    <li><a rel="group" href="/static/images/article/发育性椎管狭窄.png"><img width="126" height="126" src="/static/images/article/发育性椎管狭窄.png" ></a></li>
	    <li><a rel="group" href="/static/images/article/MRI1.png"><img width="126" height="126" src="/static/images/article/MRI1.png" ></a></li>
	    <li><a rel="group" href="/static/images/article/坏习惯.jpg"><img width="126" height="126" src="/static/images/article/坏习惯.jpg" ></a></li>
          </ul>
          <!-- navigation holder -->
          <div class="holder" align="center">
          </div>
      </div>
    </div>
      </td>
    </tr>
  </table>
</td>
{% endblock %}