{% extends "base.html" %}


{% block content %}
<td width="19" align="left" valign="top"><table width="20" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table></td>
<td width="726"  align="left" valign="top"><table  border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="top" bgcolor="#FFF4E2" style="padding:10px 41px;line-heigh:15px;">
<div id="container" class="clearfix">
      <div id="content" class="defaults" >
          <!-- item container -->
          <ul id="itemContainer" >
            <li><a rel="iframe" class="iframe" href="/page/video/1"><img width="126" height="126" src="/static/images/video/1.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/2"><img width="126" height="126" src="/static/images/video/2.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/3"><img width="126" height="126" src="/static/images/video/3.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/4"><img width="126" height="126" src="/static/images/video/4.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/5"><img width="126" height="126" src="/static/images/video/5.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/6"><img width="126" height="126" src="/static/images/video/6.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/7"><img width="126" height="126" src="/static/images/video/7.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/8"><img width="126" height="126" src="/static/images/video/8.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/9"><img width="126" height="126" src="/static/images/video/9.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/10"><img width="126" height="126" src="/static/images/video/10.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/11"><img width="126" height="126" src="/static/images/video/11.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/12"><img width="126" height="126" src="/static/images/video/12.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/13"><img width="126" height="126" src="/static/images/video/13.png" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/14"><img width="126" height="126" src="/static/images/video/14.png" ></a></li>
          </ul>
          <!-- navigation holder -->
          <div class="holder" align="center">
          </div>
      </div>
    </div>
      </td>
    </tr>
  </table>
</td>
{% endblock %}