{% extends "base.html" %}


{% block content %}
<td width="19" align="left" valign="top"><table width="20" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table></td>
<td width="726"  align="left" valign="top"><table  border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="top" bgcolor="#FFF4E2" style="padding:10px 41px;line-heigh:15px;">
<div id="container" class="clearfix">
      <div id="content" class="defaults" >
          <!-- item container -->
          <ul id="itemContainer" >
            <li><a rel="iframe" class="iframe" href="/page/video/1"><img width="126" height="126" src="/static/images/2.jpg" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/2"><img src="/static/images/img/img (2).jpg" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/3"><img src="/static/images/img/img (3).jpg" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/4"><img src="/static/images/img/img (4).jpg" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/5"><img src="/static/images/img/img (5).jpg" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/6"><img src="/static/images/img/img (6).jpg" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/7"><img src="/static/images/img/img (7).jpg" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/8"><img src="/static/images/img/img (7).jpg" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/9"><img src="/static/images/img/img (7).jpg" ></a></li>
            <li><a rel="iframe" class="iframe" href="/page/video/1"><img src="/static/images/img/img (7).jpg" ></a></li>
          </ul>
          <!-- navigation holder -->
          <div class="holder" align="center">
          </div>
      </div>
    </div>
      </td>
    </tr>
  </table>
</td>
{% endblock %}